<div id="footer">
	<div id="userSelect">
	    <div id="userSelectText">
	    Simulate user:
        </div>
	    <div id ="userSelectInput">
	    <%= form_for @session, :url => '/changeUser', :html => {:method => :post}, :as => 'user_form' do |f| %>
 		<%= f.select :user_id, [['Katherine Heigl', "56c66be5a73e49274150734a"], ['Mila Kunis', "56c66be5a73e49274150734b"], ['Sofia Vergara', "56c66be5a73e49274150734c"]], :selected => session[:current_user] %>
        <div class="actions">
    		<%= f.submit "Change Simulated User", id: "change_user_button" %>
		</div>
		<% end %>
        </div>
	</div>
</div>
