<div id="header">
	<div id="navbar">
		<div class="nav-left">
			<div id="logo">
				<img src="/images/capital-one-logo.png" class="header-logo"/>
			</div>
		</div>
		<div class="nav-right">
			<div id="menuItem1" class="menuItem">
				<%= link_to "Random ATM", atms_path %>
			</div>
			<div id="menuItem2" class="menuItem">
				<%= link_to "Acct. Balance", "/accounts/1/edit" %>
			</div>
			<div id="menuItem3" class="menuItem">
				<%= link_to "Initiate Transfer", transfers_path %>
			</div>
			<div id="menuItem4" class="menuItem">
				<%= link_to "Alerts", alerts_path %>
			</div>
		</div>
	</div>	
</div>