<div id="header">
	<div id="navbar">
		<div class="nav-left">
			<div id="logo">
				<img src="/images/capital-one-logo.png" class="header-logo"/>
			</div>
		</div>
		<div class="nav-right">
			<div id="menuItem1" class="menuItem">
				<%= link_to "Count ATMs", '/countATMs' %>
			</div>
			<div id="menuItem2" class="menuItem">
				<%= link_to "Acct. Balance", "/balances" %>
			</div>
			<div id="menuItem3" class="menuItem">
				<%= link_to "Initiate/View Transfer", "/transfers" %>
			</div>
		</div>
	</div>	
</div>